/* .body {
    background-color: #505055;
}

.container-fluid {
    background-color: #505055;
} */

.excerpt {
  font-family: Tahoma, Arial, Helvetica, sans-serif;
  color: #404040;
  margin: 1em auto 1.5em;
  width: 100%;
  max-width: 1080px;
  /* text-align: center; */
}
.excerpt-content {
  justify-items: center;
  padding: 0.5em 0;  
}
.excerpt-title {
  text-align: center;
}

input,
button {
  font-family: inherit;
  min-height: 36px;
}
.input-group {
  font-size: 1em;
  min-height: 36px;
}
/* .btn {
  font-family: inherit;
} */
.btn-icon {
  min-height: 36px;
}
.form-control {
  font-size: 1em;
}
.btn-fen {
  border: 1px solid lightseagreen;
  border-top-left-radius: 0.25em !important;
  border-bottom-left-radius: 0.25em !important;
  font-family: inherit;
  font-weight: 400;
  box-shadow: none;
	font-size: 1em;
  color: rgb(34, 138, 133);
}
.btn-fen:hover {
  border: 1px solid lightseagreen;
  border-top-left-radius: 0.25em;
  border-bottom-left-radius: 0.25em;
  font-family: inherit;
  font-weight: 400;
  box-shadow: none;
  font-size: 1em;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.1);
  background-color: lightseagreen;
}
.btn-puzzle {
	border-radius: 0.25em;
  font-family: inherit;
  font-weight: 400;
  box-shadow: none;
	/* box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05), 2px 2px 4px 0px rgba(0, 0, 0, 0.4); */
	/* color: rgba(64, 0, 64, .8); */
	font-size: 1em;
	padding: .4em .6em;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.1);
}
.btn-puzzle:hover {
  box-shadow: none;
}
.cm-chessboard.green.border-type-frame .board .border {
    fill: transparent;
  }

.iconWrong {
    padding-right: .025em;
    color: var(--red); 
  }
  
  .iconCorrect {
    padding-right: .025em;
    color: var(--teal);
  }
  
  .solution {
    width: 100%;
  }
  
  .sol-line {
    width: 100%;
  }
  
  .btn-icon {
      width: 46px;
  }